<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cross_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,92}</string>
                <key>textureRect</key>
                <string>{{103,485},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,92}</string>
                <key>textureRect</key>
                <string>{{103,579},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,92}</string>
                <key>textureRect</key>
                <string>{{225,361},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,92}</string>
                <key>spriteSourceSize</key>
                <string>{80,92}</string>
                <key>textureRect</key>
                <string>{{185,463},{80,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{355,583},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{425,431},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{425,501},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-12}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{359,511},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-19}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{425,641},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-17}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{93,813},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-16}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{103,673},{72,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-17}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{425,571},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{165,741},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-16}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{161,813},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-22}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{233,795},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-20}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{299,725},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-22}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{227,861},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-20}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{299,793},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-20}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{365,725},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-6}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{1,873},{44,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{365,793},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{293,861},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,72}</string>
                <key>textureRect</key>
                <string>{{185,647},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,82}</string>
                <key>textureRect</key>
                <string>{{267,455},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,689},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,781},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{307,343},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{86,88}</string>
                <key>spriteSourceSize</key>
                <string>{86,88}</string>
                <key>textureRect</key>
                <string>{{185,557},{86,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{78,80}</string>
                <key>spriteSourceSize</key>
                <string>{78,80}</string>
                <key>textureRect</key>
                <string>{{273,621},{78,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,0}</string>
                <key>spriteSize</key>
                <string>{70,68}</string>
                <key>spriteSourceSize</key>
                <string>{70,68}</string>
                <key>textureRect</key>
                <string>{{353,655},{70,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_fly_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{359,861},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-12}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{233,721},{64,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-11}</string>
                <key>spriteSize</key>
                <string>{64,74}</string>
                <key>spriteSourceSize</key>
                <string>{64,74}</string>
                <key>textureRect</key>
                <string>{{359,435},{64,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{88,86}</string>
                <key>textureRect</key>
                <string>{{399,343},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,485},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{123,361},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_hit_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{245,241},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_hit_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,587},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_hit_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{347,241},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-33}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{427,793},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-28}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{93,741},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-23}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{273,539},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{123,1},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{1,245},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{123,121},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{245,1},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{367,1},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{1,365},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{123,241},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{245,121},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cross_light_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{367,121},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cross.png</string>
            <key>size</key>
            <string>{488,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e0d2f5fe80ba783a551c4b7d2cebfe3:377c66a2dddb408af215591980ed0ea5:5aba80c0bc2273da73d84ca67de4c5ad$</string>
            <key>textureFileName</key>
            <string>cross.png</string>
        </dict>
    </dict>
</plist>
