<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addlight_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-21}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{161,563},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-16}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{111,563},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{381,545},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{311,545},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{393,89},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{263,217},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{247,299},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{345,217},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{329,299},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{411,299},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{323,381},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{405,381},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{229,479},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{323,463},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>addlight_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{405,463},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-12}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-12}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{1,137},{132,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{135,1},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-14}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1,273},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-17}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{135,135},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{269,1},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-20}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,405},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-24}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{135,263},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-25}</string>
                <key>spriteSize</key>
                <string>{106,102}</string>
                <key>spriteSourceSize</key>
                <string>{106,102}</string>
                <key>textureRect</key>
                <string>{{133,375},{106,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-25}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,86}</string>
                <key>textureRect</key>
                <string>{{393,1},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-23}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{269,125},{100,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-33}</string>
                <key>spriteSize</key>
                <string>{104,82}</string>
                <key>spriteSourceSize</key>
                <string>{104,82}</string>
                <key>textureRect</key>
                <string>{{123,479},{104,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-32}</string>
                <key>spriteSize</key>
                <string>{108,84}</string>
                <key>spriteSourceSize</key>
                <string>{108,84}</string>
                <key>textureRect</key>
                <string>{{1,527},{108,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_light_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-31}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{80,86}</string>
                <key>textureRect</key>
                <string>{{241,381},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>base_light.png</string>
            <key>size</key>
            <string>{492,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49e1ee6617b91ce2d0eddb469e1eee6b:ad4da84998c0b7dafac9f7cb74168705:8d96aab2135f9566a1a848d879cfd480$</string>
            <key>textureFileName</key>
            <string>base_light.png</string>
        </dict>
    </dict>
</plist>
