<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-20}</string>
                <key>spriteSize</key>
                <string>{58,50}</string>
                <key>spriteSourceSize</key>
                <string>{58,50}</string>
                <key>textureRect</key>
                <string>{{67,824},{58,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-17}</string>
                <key>spriteSize</key>
                <string>{64,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,56}</string>
                <key>textureRect</key>
                <string>{{185,482},{64,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-12}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{76,66}</string>
                <key>textureRect</key>
                <string>{{1,586},{76,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{90,78}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{93,482},{90,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,82}</string>
                <key>textureRect</key>
                <string>{{133,373},{90,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{90,80}</string>
                <key>textureRect</key>
                <string>{{1,479},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,74}</string>
                <key>textureRect</key>
                <string>{{165,218},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-13}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{79,587},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-17}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{62,56}</string>
                <key>textureRect</key>
                <string>{{187,160},{62,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-20}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{193,770},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-25}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{42,40}</string>
                <key>textureRect</key>
                <string>{{207,1},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-24}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{44,42}</string>
                <key>textureRect</key>
                <string>{{205,68},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-22}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,46}</string>
                <key>textureRect</key>
                <string>{{195,112},{54,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-20}</string>
                <key>spriteSize</key>
                <string>{64,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,50}</string>
                <key>textureRect</key>
                <string>{{1,824},{64,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-17}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{155,596},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-19}</string>
                <key>spriteSize</key>
                <string>{70,56}</string>
                <key>spriteSourceSize</key>
                <string>{70,56}</string>
                <key>textureRect</key>
                <string>{{1,654},{70,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-19}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,56}</string>
                <key>textureRect</key>
                <string>{{153,656},{68,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-20}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{73,678},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-20}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,54}</string>
                <key>textureRect</key>
                <string>{{185,540},{64,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-20}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,54}</string>
                <key>textureRect</key>
                <string>{{127,815},{64,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-20}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{1,712},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-20}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{141,714},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-20}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{69,734},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-20}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{1,768},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-20}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,54}</string>
                <key>textureRect</key>
                <string>{{1,768},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{1,375},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{208,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{207,43},{34,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{197,0}</string>
                <key>spriteSize</key>
                <string>{44,23}</string>
                <key>spriteSourceSize</key>
                <string>{44,23}</string>
                <key>textureRect</key>
                <string>{{193,847},{44,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{181,0}</string>
                <key>spriteSize</key>
                <string>{60,23}</string>
                <key>spriteSourceSize</key>
                <string>{60,23}</string>
                <key>textureRect</key>
                <string>{{69,790},{60,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,0}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{72,23}</string>
                <key>textureRect</key>
                <string>{{79,653},{72,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{155,0}</string>
                <key>spriteSize</key>
                <string>{86,23}</string>
                <key>spriteSourceSize</key>
                <string>{86,23}</string>
                <key>textureRect</key>
                <string>{{1,561},{86,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{141,0}</string>
                <key>spriteSize</key>
                <string>{100,25}</string>
                <key>spriteSourceSize</key>
                <string>{100,25}</string>
                <key>textureRect</key>
                <string>{{149,294},{100,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,0}</string>
                <key>spriteSize</key>
                <string>{116,25}</string>
                <key>spriteSourceSize</key>
                <string>{116,25}</string>
                <key>textureRect</key>
                <string>{{133,346},{116,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,0}</string>
                <key>spriteSize</key>
                <string>{130,25}</string>
                <key>spriteSourceSize</key>
                <string>{130,25}</string>
                <key>textureRect</key>
                <string>{{1,323},{130,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,0}</string>
                <key>spriteSize</key>
                <string>{144,25}</string>
                <key>spriteSourceSize</key>
                <string>{144,25}</string>
                <key>textureRect</key>
                <string>{{1,296},{144,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,0}</string>
                <key>spriteSize</key>
                <string>{162,25}</string>
                <key>spriteSourceSize</key>
                <string>{162,25}</string>
                <key>textureRect</key>
                <string>{{1,217},{162,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,0}</string>
                <key>spriteSize</key>
                <string>{176,25}</string>
                <key>spriteSourceSize</key>
                <string>{176,25}</string>
                <key>textureRect</key>
                <string>{{1,163},{176,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,0}</string>
                <key>spriteSize</key>
                <string>{192,25}</string>
                <key>spriteSourceSize</key>
                <string>{192,25}</string>
                <key>textureRect</key>
                <string>{{1,109},{192,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{200,25}</string>
                <key>spriteSourceSize</key>
                <string>{200,25}</string>
                <key>textureRect</key>
                <string>{{1,82},{200,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{204,25}</string>
                <key>spriteSourceSize</key>
                <string>{204,25}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{204,25}</string>
                <key>spriteSourceSize</key>
                <string>{204,25}</string>
                <key>textureRect</key>
                <string>{{1,28},{204,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,25}</string>
                <key>spriteSourceSize</key>
                <string>{202,25}</string>
                <key>textureRect</key>
                <string>{{1,55},{202,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,25}</string>
                <key>spriteSourceSize</key>
                <string>{184,25}</string>
                <key>textureRect</key>
                <string>{{1,136},{184,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,25}</string>
                <key>spriteSourceSize</key>
                <string>{172,25}</string>
                <key>textureRect</key>
                <string>{{1,190},{172,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,25}</string>
                <key>spriteSourceSize</key>
                <string>{156,25}</string>
                <key>textureRect</key>
                <string>{{1,244},{156,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,23}</string>
                <key>spriteSourceSize</key>
                <string>{146,23}</string>
                <key>textureRect</key>
                <string>{{1,271},{146,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,23}</string>
                <key>spriteSourceSize</key>
                <string>{130,23}</string>
                <key>textureRect</key>
                <string>{{1,350},{130,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,23}</string>
                <key>spriteSourceSize</key>
                <string>{118,23}</string>
                <key>textureRect</key>
                <string>{{126,457},{118,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,23}</string>
                <key>spriteSourceSize</key>
                <string>{98,23}</string>
                <key>textureRect</key>
                <string>{{147,321},{98,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,23}</string>
                <key>spriteSourceSize</key>
                <string>{82,23}</string>
                <key>textureRect</key>
                <string>{{89,562},{82,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,23}</string>
                <key>spriteSourceSize</key>
                <string>{60,23}</string>
                <key>textureRect</key>
                <string>{{131,790},{60,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,23}</string>
                <key>spriteSourceSize</key>
                <string>{50,23}</string>
                <key>textureRect</key>
                <string>{{193,822},{50,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line.png</string>
            <key>size</key>
            <string>{250,875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2f3f36af5c22f98f9144818dbcf91b5:7032da3d278356ab9ee994ef23890855:8e409cf7e5e456dfae43b455d3ab7ea8$</string>
            <key>textureFileName</key>
            <string>line.png</string>
        </dict>
    </dict>
</plist>
