<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-29}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,58}</string>
                <key>textureRect</key>
                <string>{{315,165},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-26}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{239,87},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{126,1},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{110,96}</string>
                <key>spriteSourceSize</key>
                <string>{110,96}</string>
                <key>textureRect</key>
                <string>{{1,105},{110,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,84}</string>
                <key>textureRect</key>
                <string>{{232,1},{96,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-20}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{86,76}</string>
                <key>textureRect</key>
                <string>{{330,1},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-29}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{179,171},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-35}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{113,185},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-31}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,54}</string>
                <key>textureRect</key>
                <string>{{449,147},{64,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-29}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{179,93},{76,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-27}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{82,66}</string>
                <key>textureRect</key>
                <string>{{418,1},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-28}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{113,105},{78,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-30}</string>
                <key>spriteSize</key>
                <string>{74,62}</string>
                <key>spriteSourceSize</key>
                <string>{74,62}</string>
                <key>textureRect</key>
                <string>{{239,153},{74,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-30}</string>
                <key>spriteSize</key>
                <string>{74,62}</string>
                <key>spriteSourceSize</key>
                <string>{74,62}</string>
                <key>textureRect</key>
                <string>{{385,157},{74,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-30}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{315,87},{76,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-30}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{379,79},{76,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-30}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{443,69},{76,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{123,102}</string>
                <key>spriteSourceSize</key>
                <string>{123,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line.png</string>
            <key>size</key>
            <string>{506,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b279730afd08e978cbef5c20e5d0be:ac11a9a1df3e28b664568734ad82162f:8e409cf7e5e456dfae43b455d3ab7ea8$</string>
            <key>textureFileName</key>
            <string>line.png</string>
        </dict>
    </dict>
</plist>
