<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-29}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,58}</string>
                <key>textureRect</key>
                <string>{{117,1},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-26}</string>
                <key>spriteSize</key>
                <string>{74,64}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{313,65},{74,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{104,90}</string>
                <key>spriteSourceSize</key>
                <string>{104,90}</string>
                <key>textureRect</key>
                <string>{{271,131},{104,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{110,96}</string>
                <key>spriteSourceSize</key>
                <string>{110,96}</string>
                <key>textureRect</key>
                <string>{{377,131},{110,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-16}</string>
                <key>spriteSize</key>
                <string>{96,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,84}</string>
                <key>textureRect</key>
                <string>{{173,125},{96,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-20}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{86,76}</string>
                <key>textureRect</key>
                <string>{{85,125},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-29}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{187,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-35}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-31}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,54}</string>
                <key>textureRect</key>
                <string>{{51,1},{64,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-29}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{76,58}</string>
                <key>textureRect</key>
                <string>{{247,1},{76,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-27}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{82,66}</string>
                <key>textureRect</key>
                <string>{{1,125},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-28}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{389,65},{78,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-30}</string>
                <key>spriteSize</key>
                <string>{74,62}</string>
                <key>spriteSourceSize</key>
                <string>{74,62}</string>
                <key>textureRect</key>
                <string>{{325,1},{74,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-30}</string>
                <key>spriteSize</key>
                <string>{74,62}</string>
                <key>spriteSourceSize</key>
                <string>{74,62}</string>
                <key>textureRect</key>
                <string>{{401,1},{74,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-30}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{1,57},{76,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-30}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{79,61},{76,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-30}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{157,61},{76,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-30}</string>
                <key>spriteSize</key>
                <string>{76,62}</string>
                <key>spriteSourceSize</key>
                <string>{76,62}</string>
                <key>textureRect</key>
                <string>{{235,61},{76,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line.png</string>
            <key>size</key>
            <string>{488,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40f8f0c449044f7bdf464cbaf3eb0455:5c2843572311025fc96092d10a7c8ea8:8e409cf7e5e456dfae43b455d3ab7ea8$</string>
            <key>textureFileName</key>
            <string>line.png</string>
        </dict>
    </dict>
</plist>
