<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_effect_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{208,0}</string>
                <key>spriteSize</key>
                <string>{34,23}</string>
                <key>spriteSourceSize</key>
                <string>{34,23}</string>
                <key>textureRect</key>
                <string>{{819,1},{34,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{197,0}</string>
                <key>spriteSize</key>
                <string>{44,23}</string>
                <key>spriteSourceSize</key>
                <string>{44,23}</string>
                <key>textureRect</key>
                <string>{{261,82},{44,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{181,0}</string>
                <key>spriteSize</key>
                <string>{60,23}</string>
                <key>spriteSourceSize</key>
                <string>{60,23}</string>
                <key>textureRect</key>
                <string>{{85,82},{60,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{169,0}</string>
                <key>spriteSize</key>
                <string>{72,23}</string>
                <key>spriteSourceSize</key>
                <string>{72,23}</string>
                <key>textureRect</key>
                <string>{{543,82},{72,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{155,0}</string>
                <key>spriteSize</key>
                <string>{86,23}</string>
                <key>spriteSourceSize</key>
                <string>{86,23}</string>
                <key>textureRect</key>
                <string>{{455,82},{86,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{141,0}</string>
                <key>spriteSize</key>
                <string>{100,25}</string>
                <key>spriteSourceSize</key>
                <string>{100,25}</string>
                <key>textureRect</key>
                <string>{{749,55},{100,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{125,0}</string>
                <key>spriteSize</key>
                <string>{116,25}</string>
                <key>spriteSourceSize</key>
                <string>{116,25}</string>
                <key>textureRect</key>
                <string>{{733,28},{116,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,0}</string>
                <key>spriteSize</key>
                <string>{130,25}</string>
                <key>spriteSourceSize</key>
                <string>{130,25}</string>
                <key>textureRect</key>
                <string>{{323,80},{130,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{96,0}</string>
                <key>spriteSize</key>
                <string>{144,25}</string>
                <key>spriteSourceSize</key>
                <string>{144,25}</string>
                <key>textureRect</key>
                <string>{{471,55},{144,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{78,0}</string>
                <key>spriteSize</key>
                <string>{162,25}</string>
                <key>spriteSourceSize</key>
                <string>{162,25}</string>
                <key>textureRect</key>
                <string>{{1,55},{162,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{64,0}</string>
                <key>spriteSize</key>
                <string>{176,25}</string>
                <key>spriteSourceSize</key>
                <string>{176,25}</string>
                <key>textureRect</key>
                <string>{{381,28},{176,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,0}</string>
                <key>spriteSize</key>
                <string>{192,25}</string>
                <key>spriteSourceSize</key>
                <string>{192,25}</string>
                <key>textureRect</key>
                <string>{{1,28},{192,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{200,25}</string>
                <key>spriteSourceSize</key>
                <string>{200,25}</string>
                <key>textureRect</key>
                <string>{{617,1},{200,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{204,25}</string>
                <key>spriteSourceSize</key>
                <string>{204,25}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{204,25}</string>
                <key>spriteSourceSize</key>
                <string>{204,25}</string>
                <key>textureRect</key>
                <string>{{207,1},{204,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,25}</string>
                <key>spriteSourceSize</key>
                <string>{202,25}</string>
                <key>textureRect</key>
                <string>{{413,1},{202,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,25}</string>
                <key>spriteSourceSize</key>
                <string>{184,25}</string>
                <key>textureRect</key>
                <string>{{195,28},{184,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,25}</string>
                <key>spriteSourceSize</key>
                <string>{172,25}</string>
                <key>textureRect</key>
                <string>{{559,28},{172,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,25}</string>
                <key>spriteSourceSize</key>
                <string>{156,25}</string>
                <key>textureRect</key>
                <string>{{165,55},{156,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,23}</string>
                <key>spriteSourceSize</key>
                <string>{146,23}</string>
                <key>textureRect</key>
                <string>{{323,55},{146,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,23}</string>
                <key>spriteSourceSize</key>
                <string>{130,23}</string>
                <key>textureRect</key>
                <string>{{617,55},{130,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,23}</string>
                <key>spriteSourceSize</key>
                <string>{118,23}</string>
                <key>textureRect</key>
                <string>{{617,80},{118,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,23}</string>
                <key>spriteSourceSize</key>
                <string>{98,23}</string>
                <key>textureRect</key>
                <string>{{737,82},{98,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,23}</string>
                <key>spriteSourceSize</key>
                <string>{82,23}</string>
                <key>textureRect</key>
                <string>{{1,82},{82,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,23}</string>
                <key>spriteSourceSize</key>
                <string>{60,23}</string>
                <key>textureRect</key>
                <string>{{147,82},{60,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line_effect_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,23}</string>
                <key>spriteSourceSize</key>
                <string>{50,23}</string>
                <key>textureRect</key>
                <string>{{209,82},{50,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>line_effect.png</string>
            <key>size</key>
            <string>{854,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e7a2b484c116e14ae30cf080cb9da2b:a800a412372ee5fdd8d326a432b387c4:bf4dbcb4418b8979a2df6fbf9bf61e66$</string>
            <key>textureFileName</key>
            <string>line_effect.png</string>
        </dict>
    </dict>
</plist>
