<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cookies_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,122}</string>
                <key>spriteSize</key>
                <string>{18,14}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{786,166},{18,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,121}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{608,324},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,120}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{354,462},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,120}</string>
                <key>spriteSize</key>
                <string>{30,36}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{894,282},{30,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,119}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{78,432},{34,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,117}</string>
                <key>spriteSize</key>
                <string>{36,52}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{42,432},{36,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,115}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{0,432},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,113}</string>
                <key>spriteSize</key>
                <string>{48,70}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{136,410},{48,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,110}</string>
                <key>spriteSize</key>
                <string>{54,78}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{354,384},{54,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,106}</string>
                <key>spriteSize</key>
                <string>{58,86}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{908,94},{58,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,102}</string>
                <key>spriteSize</key>
                <string>{66,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{908,0},{66,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,97}</string>
                <key>spriteSize</key>
                <string>{72,102}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{894,180},{72,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,91}</string>
                <key>spriteSize</key>
                <string>{78,110}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{276,384},{78,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,85}</string>
                <key>spriteSize</key>
                <string>{84,118}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{408,364},{84,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,78}</string>
                <key>spriteSize</key>
                <string>{90,124}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{884,324},{90,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,70}</string>
                <key>spriteSize</key>
                <string>{96,132}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{788,332},{96,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,63}</string>
                <key>spriteSize</key>
                <string>{102,140}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{602,346},{102,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,55}</string>
                <key>spriteSize</key>
                <string>{110,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{492,346},{110,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,47}</string>
                <key>spriteSize</key>
                <string>{116,158}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{492,188},{116,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,37}</string>
                <key>spriteSize</key>
                <string>{122,166}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{786,0},{122,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,28}</string>
                <key>spriteSize</key>
                <string>{128,176}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{542,0},{128,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{132,184}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{276,200},{132,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{140,192}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{136,218},{140,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{144,200}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{276,0},{144,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{136,208}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{0,224},{136,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-28}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{136,0},{140,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{136,224}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{136,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-26}</string>
                <key>spriteSize</key>
                <string>{116,180}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{670,0},{116,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-38}</string>
                <key>spriteSize</key>
                <string>{122,188}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{420,0},{122,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-26}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{608,180},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-40}</string>
                <key>spriteSize</key>
                <string>{80,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{732,180},{80,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-54}</string>
                <key>spriteSize</key>
                <string>{82,158}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{812,166},{82,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-68}</string>
                <key>spriteSize</key>
                <string>{84,164}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{408,200},{84,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cookies_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-74}</string>
                <key>spriteSize</key>
                <string>{84,152}</string>
                <key>spriteSourceSize</key>
                <string>{150,300}</string>
                <key>textureRect</key>
                <string>{{704,332},{84,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cookies.png</string>
            <key>size</key>
            <string>{974,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a258a0b1802a0a6b3d5ca651a6635901:36bb94de8a927dfd59e64fb99dd52bc5:2e91a3e07279d53e07750ba23e8ca052$</string>
            <key>textureFileName</key>
            <string>cookies.png</string>
        </dict>
    </dict>
</plist>
