<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-47}</string>
                <key>spriteSize</key>
                <string>{114,108}</string>
                <key>spriteSourceSize</key>
                <string>{114,108}</string>
                <key>textureRect</key>
                <string>{{457,661},{114,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-28}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{154,146}</string>
                <key>textureRect</key>
                <string>{{167,179},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-26}</string>
                <key>spriteSize</key>
                <string>{164,154}</string>
                <key>spriteSourceSize</key>
                <string>{164,154}</string>
                <key>textureRect</key>
                <string>{{1,179},{164,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{172,176}</string>
                <key>spriteSourceSize</key>
                <string>{172,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{175,1},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{167,327},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{1,335},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{319,327},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{327,1},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{323,133},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{471,265},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{479,1},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{475,133},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{471,397},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{1,467},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{153,459},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{305,459},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{457,529},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{153,591},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{1,599},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{305,591},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{609,529},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{623,265},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{631,1},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{627,133},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{623,397},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{761,529},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{775,265},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{779,133},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{783,1},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor+samecolor_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,130}</string>
                <key>spriteSourceSize</key>
                <string>{150,130}</string>
                <key>textureRect</key>
                <string>{{775,397},{150,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>samecolor_change.png</string>
            <key>size</key>
            <string>{934,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f1826798ce0f0912cb68fa34fc581f2:af8f6859246390da9d6d1f9339df821a:3b7246cd9ac90b9622fcc54824b36739$</string>
            <key>textureFileName</key>
            <string>samecolor_change.png</string>
        </dict>
    </dict>
</plist>
