<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>samecolor_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{83,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{165,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{247,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{329,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{411,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{493,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{575,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{657,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{739,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{821,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{903,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{83,83},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolor_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{114,112}</string>
                <key>spriteSourceSize</key>
                <string>{114,112}</string>
                <key>textureRect</key>
                <string>{{1,165},{114,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{165,83},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{367,83},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{569,83},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{771,83},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{117,185},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{319,185},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{521,185},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{723,185},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,287},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{203,287},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{405,287},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{607,287},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{809,287},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,389},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{203,389},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{405,389},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{607,389},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{809,389},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,491},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{203,491},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{405,491},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>samecolorsamecolor_00_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{607,491},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>samecolor.png</string>
            <key>size</key>
            <string>{1010,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df41c4574c4cc14390eeb90349b9a5e5:44fdba9e65e542dac48f7646767cb5a2:db36859ccf3fca27bb513bc7d3d2cf70$</string>
            <key>textureFileName</key>
            <string>samecolor.png</string>
        </dict>
    </dict>
</plist>
