<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area+area_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-28}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{479,37},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-28}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{479,63},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-26}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{473,219},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-24}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{479,1},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-20}</string>
                <key>spriteSize</key>
                <string>{40,42}</string>
                <key>spriteSourceSize</key>
                <string>{40,42}</string>
                <key>textureRect</key>
                <string>{{453,477},{40,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-21}</string>
                <key>spriteSize</key>
                <string>{44,46}</string>
                <key>spriteSourceSize</key>
                <string>{44,46}</string>
                <key>textureRect</key>
                <string>{{453,429},{44,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-18}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{453,375},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{58,64}</string>
                <key>spriteSourceSize</key>
                <string>{58,64}</string>
                <key>textureRect</key>
                <string>{{453,249},{58,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{387,395},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{299,815},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-10}</string>
                <key>spriteSize</key>
                <string>{70,66}</string>
                <key>spriteSourceSize</key>
                <string>{70,66}</string>
                <key>textureRect</key>
                <string>{{235,563},{70,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{66,68}</string>
                <key>textureRect</key>
                <string>{{385,463},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-9}</string>
                <key>spriteSize</key>
                <string>{62,68}</string>
                <key>spriteSourceSize</key>
                <string>{62,68}</string>
                <key>textureRect</key>
                <string>{{299,745},{62,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-11}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{373,607},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-11}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{307,607},{64,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{297,675},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{363,747},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{64,68}</string>
                <key>textureRect</key>
                <string>{{363,817},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{163,567},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{229,639},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{229,711},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{229,783},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-9}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{68,70}</string>
                <key>textureRect</key>
                <string>{{317,329},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{247,329},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{247,403},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{70,72}</string>
                <key>textureRect</key>
                <string>{{157,791},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{383,249},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{68,74}</string>
                <key>textureRect</key>
                <string>{{165,489},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{235,487},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{157,639},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{325,173},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{157,715},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{70,74}</string>
                <key>textureRect</key>
                <string>{{247,253},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{399,173},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{83,639},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{72,74}</string>
                <key>textureRect</key>
                <string>{{83,715},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{173,175},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{171,253},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{171,331},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{171,409},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-4}</string>
                <key>spriteSize</key>
                <string>{74,76}</string>
                <key>spriteSourceSize</key>
                <string>{74,76}</string>
                <key>textureRect</key>
                <string>{{249,173},{74,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{93,333},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{93,411},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{87,489},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,76}</string>
                <key>textureRect</key>
                <string>{{93,175},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{195,93},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{275,93},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{435,93},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{93,253},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area+area_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{355,93},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{453,315},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{439,599},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{74,70}</string>
                <key>spriteSourceSize</key>
                <string>{74,70}</string>
                <key>textureRect</key>
                <string>{{87,567},{74,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,663},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,745},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{113,93},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,0}</string>
                <key>spriteSize</key>
                <string>{64,70}</string>
                <key>spriteSourceSize</key>
                <string>{64,70}</string>
                <key>textureRect</key>
                <string>{{387,323},{64,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-7}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{60,66}</string>
                <key>textureRect</key>
                <string>{{377,539},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{70,58}</string>
                <key>spriteSourceSize</key>
                <string>{70,58}</string>
                <key>textureRect</key>
                <string>{{1,827},{70,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,70}</string>
                <key>textureRect</key>
                <string>{{363,675},{60,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{62,74}</string>
                <key>textureRect</key>
                <string>{{319,251},{62,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{66,70}</string>
                <key>spriteSourceSize</key>
                <string>{66,70}</string>
                <key>textureRect</key>
                <string>{{317,401},{66,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-8}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,66}</string>
                <key>textureRect</key>
                <string>{{307,539},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{66,64}</string>
                <key>textureRect</key>
                <string>{{317,473},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-10}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{439,533},{62,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{425,675},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{429,743},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{62,66}</string>
                <key>spriteSourceSize</key>
                <string>{62,66}</string>
                <key>textureRect</key>
                <string>{{429,811},{62,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>area_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{110,114}</string>
                <key>spriteSourceSize</key>
                <string>{110,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-23}</string>
                <key>spriteSize</key>
                <string>{38,44}</string>
                <key>spriteSourceSize</key>
                <string>{38,44}</string>
                <key>textureRect</key>
                <string>{{473,173},{38,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-11}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{83,791},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{78,84}</string>
                <key>textureRect</key>
                <string>{{1,577},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{1,485},{84,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{88,90}</string>
                <key>textureRect</key>
                <string>{{389,1},{88,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,117},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{113,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,209},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{205,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,301},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{297,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boom_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,393},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>area.png</string>
            <key>size</key>
            <string>{512,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd89c255412e50c0eefa5a977b023cc1:f5ab408d4d6c522ec01634ca75cd0892:af793e7d932717c76170809a6c619a61$</string>
            <key>textureFileName</key>
            <string>area.png</string>
        </dict>
    </dict>
</plist>
